<div id="page-title">
	<h1>Search</h1>
</div>

<div id="mashera-search-form">
	<% form_tag ({:controller => "search", :action => "search"}, :id => "search_form") do %>
		<fieldset>
			<ol>
			<li><%= label_tag 'keywords', 'Keyword(s)'%><%= text_field_tag 'keywords', nil, :size => 45 %></li>
			<span id="more_options" style="display:none">
			<li><%= label_tag 'advanced_countries', 'Country(s)' %><%= select_tag 'advanced[countries]', options_from_collection_for_select(@countries, :id, :name), {:size => 5, :multiple => true} %></li>
			<span id="provinces_districts" ><%= render :partial => "list_provinces_districts", :locals => {:provinces => @provinces, :districts => @districts, :selected_provinces => nil, :selected_districts => nil} %></span>
			<li><%= label_tag 'advanced_sectors_name', 'Sector(s)' %><%= collection_select "advanced[sectors]", :name, @sectors, :id, :name, {}, :size => 7, :multiple => true %></li>
			<!-- hiding affiliations for now since none of the pak ones have them><li><%= label_tag 'advanced_affiliations_name', 'Affiliation(s)' %><%= collection_select "advanced[affiliations]", :name, @affiliations, :id, :name, {}, :size => 5, :multiple => true %></li> -->
			</span>
			<li><label></label><%= link_to_function "Advanced Options", "$('more_options').toggle()" %></li>
			<li><%= label_tag 'display_option', 'Display Options' %>
				<%= radio_button_tag 'display_option', 'table', true %>&nbsp;Table&nbsp;&nbsp;
				<%= radio_button_tag 'display_option', 'location_map', false %>&nbsp;Location Map&nbsp;&nbsp;
				<%= radio_button_tag 'display_option', 'density_map', false %>&nbsp;Density Map&nbsp;&nbsp;
			</li>
			<div class="buttonHolder"><%= submit_tag 'Search' %></div>
			</ol>
		</fieldset>
	<% end %>
</div>