<span id="districts_provinces">
	
<%= observe_field 'ngo_country_id',
		:url => { :action => :update_districts_provinces }, 
		:update => 'districts_provinces',
		:with => f %>

<li id="province_list">
	<%= render :partial => 'provinces', :locals => {:provinces => provinces }%>
	<%= check_box_tag :ngo_auto_update_province, ngo.auto_update_province, ngo.auto_update_province, {:name => "ngo[auto_update_province]"}  %>
</li>

<li id="district_list">
	<%= render :partial => 'districts', :locals => {:districts => districts }%>
	<%= check_box_tag :ngo_auto_update_district, ngo.auto_update_district, ngo.auto_update_district, {:name => "ngo[auto_update_district]"}  %>
</li>

</span>
