<div id="results">

	<table>
	
	  <tr>
	    <th width="50px">Acronym</th>
	    <th width="350px">Name</th>
	    <th>Country</th>
			<th>Province</th>
	    <th>District</th>
		 	<th>Sector(s)</th>
		  <th>Details</th>	
			<th>Edit</th>	
			<th>Destroy</th>	
	  </tr>

	<% @ngos.each do |ngo| %>
	  <tr class="<%= cycle('alt', '') %>">
	    <td width="50px"><%= ngo.show_acronym %></td>
	    <td width="350px"><%= ngo.show_name %></td>
	    <td><%= ngo.show_country %></td>
			<td><%= ngo.show_province %></td>
	    <td><%= ngo.show_district %></td>
		  <td width="350px"><%= ngo.show_sectors %></td>
	    <td><%= link_to 'Details', ngo %></td>
	    <td><%= link_to 'Edit', edit_ngo_path(ngo) %></td>
	    <td><%= link_to 'Destroy', ngo, :confirm => 'Are you sure?', :method => :delete %></td>
	  </tr>
	<% end %>
	</table>
<%= will_paginate %>

	<div id="page-links">
	<%= link_to '+ Add New NGO', new_ngo_path %>
	</div>
</div>