<div id="newForm">

	<h1>New NGO</h1>

	<% form_for(@ngo) do |f| %>
	  <%= f.error_messages %>

		<fieldset class="inlineLabels">

			<%= render :partial => 'fields', :locals => {:f => f} %>

	  	<div class="buttonHolder">
	    	<%= f.submit 'Create' %>
	  	</div>

		</fieldset>
		
	<% end %>


	<%= link_to 'Show', @ngo %> |
	<%= link_to 'Back', ngos_path %>

</div>
