<div id="mashera-form">

	<% form_for(@ngo) do |f| %>
	  <%= f.error_messages %>
	
		<div id="third-col-title">
			Auto-update?
		</div>

		<fieldset>

			<%= render :partial => 'fields', :locals => {:f => f} %>

	  	<div class="buttonHolder">
	    	<%= f.submit 'Create' %>
	  	</div>

		</fieldset>
		
	<% end %>


	<div id="page-links">
	<%= link_to 'Show', @ngo %> |
	<%= link_to 'Back', ngos_path %>
	</div>

</div>
