<div id="mashera-form">

	<fieldset>
		
		<ol>

		<li>
		  <label>Acronym:</label>
		  <%= @ngo.show_acronym %>
		</li>

		<li>
		  <label>Name:</label>
		  <%= @ngo.show_name %>
		</li>

		<li>
		  <label>Country:</label>
		  <%= @ngo.show_country %>
		</li>

		<li>
		  <label>District:</label>
		  <%= @ngo.show_district %>
		</li>

		<li>
		  <label>Sector:</label>
		  <%= @ngo.show_sectors %>
		</li>

		<li>
		  <label>Affiliation:</label>
		  <%= @ngo.show_affiliations %>
		</li>

		<li>
		  <label>Contact address:</label>
		  <%= @ngo.show_contact_address %>
		</li>

		<li>
		  <label>Contact phone:</label>
		  <%= @ngo.show_contact_phone %>
		</li>

		<li>
		  <label>Contact fax:</label>
		  <%= @ngo.show_contact_fax %>
		</li>

		<li>
		  <label>Contact email:</label>
		  <%= @ngo.show_contact_email %>
		</li>
		
		<li>
		  <label>Website:</label>
		  <%= @ngo.show_website %>
		</li>
		
		</ol>
		
	</fieldset>
		

	<div id="page-links">
	<%= link_to 'Edit', edit_ngo_path(@ngo) %> |
	<%= link_to 'Back', ngos_path %>
	</div>
	
</div>
