<div id="page-title">
	<h1><%= @ngo.name %>: Details</h1>
</div>

<div id="article-content">
	<fieldset>

		<ol>
			<li>
			  <label>Acronym:</label>
			  <%= @ngo.show_acronym %>
			</li>

			<li>
			  <label>Name:</label>
			  <%= @ngo.show_name %>
			</li>

			<li>
			  <label>Country:</label>
			  <%= @ngo.district.show_country %>
			</li>
		
			<li>
			  <label>Province:</label>
			  <%= @ngo.district.show_province %>
			</li>

			<li>
			  <label>District:</label>
			  <%= @ngo.show_district %>
			</li>

			<li>
			  <label>Sector(s):</label>
			  <%= @ngo.show_sectors %>
			</li>

			<li>
			  <label>Affiliation(s):</label>
			  <%= @ngo.show_affiliations %>
			</li>

			<li>
			  <label>Address:</label>
			  <%= @ngo.show_contact_address %>
			</li>

			<li>
			  <label>NGO Phone:</label>
			  <%= @ngo.show_contact_phone %>
			</li>

			<li>
			  <label>Fax:</label>
			  <%= @ngo.show_contact_fax %>
			</li>
		
			<li>
			  <label>NGO email:</label>
			  <%= mail_to @ngo.show_contact_email, nil, :replace_at => " AT " %>
			</li>
		
			<% @ngo.contacts.each do |contact| %>
			<li>
			  <label>Contact:</label>
				<%= contact.show_contact %>
			</li>
			<% end %>
		
			<li>
			  <label>Website:</label>
			  <%= @ngo.show_website %>
			</li>
		</ol>
			
</div>

