<div id="detailsPage">

	<h1>NGO Details</h1>

	<fieldset class="inlineLabels">

		<div class="ctrlHolder">
		  <label>Acronym:</label>
		  <%= @ngo.show_acronym %>
		</div>

		<div class="ctrlHolder">
		  <label>Name:</label>
		  <%= @ngo.show_name %>
		</div>

		<div class="ctrlHolder">
		  <label>Country:</label>
		  <%= @ngo.district.province.show_country %>
		</div>
		
		<div class="ctrlHolder">
		  <label>Province:</label>
		  <%= @ngo.district.show_province %>
		</div>

		<div class="ctrlHolder">
		  <label>District:</label>
		  <%= @ngo.show_district %>
		</div>

		<div class="ctrlHolder">
		  <label>Sector(s):</label>
		  <%= @ngo.show_sectors %>
		</div>

		<div class="ctrlHolder">
		  <label>Affiliation(s):</label>
		  <%= @ngo.show_affiliations %>
		</div>

		<div class="ctrlHolder">
		  <label>Address:</label>
		  <%= @ngo.show_contact_address %>
		</div>

		<div class="ctrlHolder">
		  <label>NGO Phone:</label>
		  <%= @ngo.show_contact_phone %>
		</div>

		<div class="ctrlHolder">
		  <label>Fax:</label>
		  <%= @ngo.show_contact_fax %>
		</div>
		
		<div class="ctrlHolder">
		  <label>NGO email:</label>
		  <%= mail_to @ngo.show_contact_email, nil, :replace_at => " AT " %>
		</div>
		
		<% @ngo.contacts.each do |contact| %>
		<div class="ctrlHolder">
		  <label>Contact:</label>
			<%= contact.show_contact %>
		</div>
		<% end %>
		
		<div class="ctrlHolder">
		  <label>Website:</label>
		  <%= @ngo.show_website %>
		</div>
		
	</fieldset>
			
</div>

