<div id="newForm">

	<h1>Editing sector</h1>

	<% form_for(@sector) do |f| %>
	<fieldset class="inlineLabels">
	  <%= f.error_messages %>

	  <div class="ctrlHolder">
	    <%= f.label :name %><br />
	    <%= f.text_field :name %>
	  </div>
	  <div class="buttonHolder">
	    <%= f.submit 'Update' %>
	  </div>
	
	</fieldset>
	<% end %>

	<%= link_to 'Show', @sector %> |
	<%= link_to 'Back', sectors_path %>

</div>
