<div id="mashera-form">


	<% form_for(@sector) do |f| %>
	<fieldset class="inlineLabels">
	  <%= f.error_messages %>

		<ol>
		  <li>
		    <%= f.label :name %>
		    <%= f.text_field :name %>
		  </li>
		</ol>
	  <div class="buttonHolder">
	    <%= f.submit 'Update' %>
	  </div>
	
	</fieldset>
	<% end %>

	<div id="page-links">
	<%= link_to 'Show', @sector %> |
	<%= link_to 'Back', sectors_path %>
	</div>

</div>
