<table>
  <tr>
    <th>Name</th>
	  <th>Details</th>	
		<th>Edit</th>	
		<th>Destroy</th>
  </tr>

<% @sectors.each do |sector| %>
<tr class="<%= cycle('alt', '') %>">
    <td><%= sector.name %></td>
    <td><%= link_to 'Details', sector %></td>
    <td><%= link_to 'Edit', edit_sector_path(sector) %></td>
    <td><%= link_to 'Destroy', sector, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to '+ Add New Sector', new_sector_path %>