<h1>Listing users</h1>

<table>
  <tr>
		<th>Name</th>
    <th>Email</th>
		<th>Who</th>
		<th>How</th>
		<th>Role</th>
		<th>Approved?</th>
		<th>User details</th>
		<th>Edit user</th>
		<th>Delete user</th>
  </tr>

<% @users.each do |user| %>
  <tr>
	  <td><%= user.full_name %></td>
    <td><%= user.email %></td>
		<td><%= user.who %></td>
		<td><%= user.how %></td>
		<td><%= user.user_type %></td>
		<td><% if user.approved %>Yes<% else %>No<% end %></td>
    <td><%= link_to 'View details', user %></td>
    <td><%= link_to 'Edit', edit_user_path(user) %></td>
    <td><%= link_to 'Delete', user, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to '&nbsp;+ Add new user', new_user_path %>