<div id="newForm">

	<h1>The Mashera Project: New User</h1>

	<% form_for(@user) do |f| %>
	  <%= f.error_messages %>
	
		<fieldset class="inlineLabels">

		<%= render :partial => "fields", :locals => {:f => f} %>
		
		<div class="ctrlHolder">
		  <%= f.label :password, 'Password' %>
		  <%= f.password_field :password %>
		</div>
		
		<div class="ctrlHolder">
		  <%= f.label :password_confirmation, 'Confirm Password' %>
		  <%= f.password_field :password_confirmation %>
		</div>
		
		<div class="ctrlHolder">
		  <%= f.label :who, 'Who are you?' %>
		  <%= f.text_field :who %>
		</div>
		
		<div class="ctrlHolder">
		  <%= f.label :how, 'How did you hear about us?' %>
		  <%= f.text_area :how %>
		</div>
		

	  <div class="buttonHolder">
	    <%= f.submit 'Join' %>
	  </div>
	
		</fieldset>
	<% end %>

	<%= link_to 'Back', users_path %>

</div>