<div id="mashera-form">

	<% form_for(@user) do |f| %>
	  <%= f.error_messages %>
	
		<fieldset>

			<ol>
				
			<%= render :partial => "fields", :locals => {:f => f} %>
		
			<li>
			  <%= f.label :password, 'Password' %>
			  <%= f.password_field :password %>
			</li>
		
			<li>
			  <%= f.label :password_confirmation, 'Confirm Password' %>
			  <%= f.password_field :password_confirmation %>
			</li>
		
			<li>
			  <%= f.label :who, 'Who are you?' %>
			  <%= f.text_field :who %>
			</li>
		
			<li>
			  <%= f.label :how, 'How did you hear about us?' %>
			  <%= f.text_area :how %>
			</li>
		
		  <div class="buttonHolder">
		    <%= f.submit 'Add' %>
		  </div>
	
		</fieldset>
	<% end %>
  
	<div id="page-links">
	<%= link_to 'Back', users_path %>
	</div>

</div>