<div id="mashera-form">
		
	<fieldset>
		<ol>
		<li>
		  <label>Name:</label>
		  <%= @user.full_name %>
		</li>
		
		<li>
		  <label>Email:</label>
		  <%= @user.email %>
		</li>
		
		<li>
		  <label>Who:</label>
		  <%= @user.show_who %>
		</li>
		
		<li>
		  <label>How:</label>
		  <%= @user.show_how %>
		</li>
		
		<li>
		  <label>User Type:</label>
		  <%= @user.user_type %>
		</li>
		
		<li>
		  <label>Approved:</label>
		  <% if @user.approved %>
				Yes
			<% else %>
				No
			<% end %>
		</li>
		</ol>

	</fieldset>
	
	<div id="page-links">
	<%= link_to 'Edit', edit_user_path(@user) %> |
	<%= link_to 'Back', users_path %>
	</div>

</div>