<div id="page-title">
	<h1>Join The Mashera Project</h1>
</div>

<div id="mashera-form">

	<% form_for(@user) do |f| %>
	  <%= f.error_messages %>
	
			<fieldset>
				
				<ol>

					<li>
					 <%= f.label :first_name %>
					 <%= f.text_field :first_name %>
					</li>

					<li>
					 <%= f.label :last_name %>
					 <%= f.text_field :last_name %>
					</li>

					<li>
					 <%= f.label :email %>
					 <%= f.text_field :email %>
					</li>

					<li>
					 <%= f.label :password, 'Password' %>
					 <%= f.password_field :password %>
					</li>

					<li>
					 <%= f.label :password_confirmation, 'Confirm Password' %>
					 <%= f.password_field :password_confirmation %>
					</li>

					<li>
					 <%= f.label :who, 'Who are you?' %>
					 <%= f.text_field :who %>
					</li>

					<li>
					 <%= f.label :how, 'How did you hear about us?' %>
					 <%= f.text_area :how %>
					</li>

				</ol>
				
				<div class="buttonHolder">
				  <%= f.submit 'Join' %>
				</div>

			</fieldset>
	<% end %>

</div>