<div id="page-title">
	<h1>About The Mashera Project</h1>
</div>

<span id="top"></span>
<div id="article-content">
	<div id="article-select">
		<form name="form">
        <select name="select" size="1">
					<option value="" selected="selected">View Index...</option>
					<option value="#idea">Concept</option>
					<option value="#future-plans">Future Plans</option>
					<option value="#statistics">Statistics</option>
					<option value="#tech-specs">Tech Specs</option>
					<option value="#credits">Credits</option>
					<option value="#sources">Sources</option>
				</select>
				<input type="button" value="Go!" onclick="jumpToSection()" />
		</form>
	</div>
	<div class="article-entry">
		<h4 id="concept">Concept</h4>
		<p>The Mashera Project is a flexible, dynamic search platform utilizing a technique called scraping to aggregate publicly available, open-source information on NGOs and civil society organizations in Pakistan and Afghanistan. "Mashera" translates roughly to "society" in Pashto. Civil society organizations, from local community groups to international NGOs, make up much of the fabric of Afghan and Pakistani communities. The Mashera Project is an unprecedented effort to pool available data on those organizations, and to link them together to facilitate better understanding and collaboration. The Project's goal is to, for the first time, answer the critical question of who is doing what, and where.</p>
		<h5 class="top-link"><a href="#top">Back to Top</a></h5>
	</div>
	
	
	
	<div class="article-entry">
		<h4 id="future-plans">Future Plans</h4>
		<p>We are currently working to add more data from a wider variety of sources. We also intend to make the data more useful by enabling users to download search results as comma separated value (csv) documents which can be imported into Excel, adding to the menu of analytical tools, and extending the download feature present for pie chart visualizations to all other categories. </p>
		<h5 class="top-link"><a href="#top">Back to Top</a></h5>
	</div>
	

	<div class="article-entry">
		<h4 id="statistics">Statistics</h4>
		<p>The Mashera Project currently has data on <%= @total_ngos %> NGOs, working in <%= @total_countries %> countries, <%= @total_provinces %> 
			provinces and <%= @total_districts %> districts. For a more detailed breakdown of these numbers, please see our <%= link_to "statistics", stats_url %> page.</p>
			<h5 class="top-link"><a href="#top">Back to Top</a></h5>
	</div>
	
	
	<div class="article-entry">
		<h4 id="credits">Credits</h4>
		<p>Jillian Kozyra & Ronan Farrow</p>
		<h5 class="top-link"><a href="#top">Back to Top</a></h5>
	</div>
	
	
	<div class="article-entry">
		<h4 id="sources">Sources</h4>
		<p>The Mashera Project obtains its data from the following sources, which are free and open to the public:</p>
		<dl>
			<dt>Afghanistan</dt>
			<dd><%= link_to "Agency Co-ordinating Body for Afghan Relief (ACBAR)", "http://www.acbar.org/"%></dd>
			<dt>Pakistan</dt>
			<dd><%= link_to "Pakistan's National NGO Database", "http://www.ngosinfo.gov.pk/" %></dd>
		</dl>
		<h5 class="top-link"><a href="#top">Back to Top</a></h5>
	</div>
	
	
</div>