<div id="nav-bar">
	<ul id="jsddm-left">
		<li><%= link_to "Search", root_url %></li>
		<li><%= link_to "Analyze", analyze_url %></li>
		<li><a>Browse</a>
			<ul>
				<li><%= link_to "By Sector", browse_sectors_url %></li>
				<li><%= link_to "By Country", browse_countries_url %></li>
			</ul>
		</li>
	</ul>
	<ul id="jsddm-right">
		<% if logged_in? and User.find(session[:user_id]).admin? %>
		<li><a href="#">Admin</a>
			<ul>
				<li><%= link_to "Manage NGOs", ngos_url %></li>
				<li><%= link_to "Manage Countries", countries_url %></li>
				<li><%= link_to "Manage Provinces", provinces_url %></li>
				<li><%= link_to "Manage Districts", districts_url %></li>
				<li><%= link_to "Manage Sectors", sectors_url %></li>
				<li><%= link_to "Manage Contacts", contacts_url %></li>
				<li><%= link_to "Manage Users", users_url %></li>
			</ul>
		</li>
		<% end %>
		<li><%= link_to 'Logout', {:controller => "authentication", :action => "logout"} %></li>
	</ul>
</div>
