<div class="ctrlHolder">
  <%= f.label :name %><br />
  <%= f.text_field :name %>
</div>

<div class="ctrlHolder">
  <%= f.label :title %><br />
  <%= f.text_field :title %>
</div>

<div class="ctrlHolder">
  <%= f.label :email %><br />
  <%= f.text_field :email %>
</div>

<div class="ctrlHolder">
  <%= f.label :phone %><br />
  <%= f.text_field :phone %>
</div>