<ol>
<li>
  <%= f.label :name %>
  <%= f.text_field :name %>
</li>

<li>
  <%= f.label :title %>
  <%= f.text_field :title %>
</li>

<li>
  <%= f.label :email %>
  <%= f.text_field :email %>
</li>

<li>
  <%= f.label :phone %>
  <%= f.text_field :phone %>
</li>
</ol>