<div id="mashera-form">
		
	<fieldset>

		<ol>
		<li>
		  <b>Name:</b>
		  <%= @contact.show_name %>
		</li>

		<li>
		  <b>Title:</b>
		  <%= @contact.show_title %>
		</li>
		
		<li>
		  <b>Email:</b>
		  <%= @contact.show_email %>
		</li>
		
		<li>
		  <b>Phone:</b>
		  <%= @contact.show_phone %>
		</li>
		
		<li>
		  <b>NGO:</b>
		  <%= @contact.show_ngos %>
		</li>
		</ol>

	</fieldset>

	<div id="page-links">
	<%= link_to 'Edit', edit_contact_path(@contact) %> |
	<%= link_to 'Back', contacts_path %>
	</div>

</div>
