<div id="newForm">
	
	<h1>Editing district</h1>

	<% form_for(@district) do |f| %>
	<fieldset class="inlineLabels">
	  <%= f.error_messages %>

	  <%= render :partial => 'fields', :locals => {:f => f, :provinces => @provinces, :district => @district} %>
		
	  <div class="buttonHolder">
	    <%= f.submit 'Update' %>
	  </div>
	</fieldset>
	<% end %>

	<%= link_to 'Show', @district %> |
	<%= link_to 'Back', districts_path %>
	
</div>