<div id="results">
<table>
  <tr>
    <th>Name</th>
		<th>Province</th>
    <th>Country</th>
		<th>Geo Data</th>
		<th>Details</th>
		<th>Edit</th>
		<th>Destroy</th>
  </tr>

<% @districts.each do |district| %>
<tr class="<%= cycle('alt', '') %>">
    <td><%= district.name %></td>
		<td><%= district.show_province %></td>
    <td><%= district.country.name %></td>
		<td><%= district.latlong %></td>
    <td><%= link_to 'Details', district %></td>
    <td><%= link_to 'Edit', edit_district_path(district) %></td>
    <td><%= link_to 'Destroy', district, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<div id="page-links">
<%= link_to '+ Add New district', new_district_path %>
</div>

</div>