<div id="newForm">
	
	<h1>District Details</h1>
	
	<fieldset class="inlineLabels">
		
		<div class="ctrlHolder">
		  <b>District:</b>
		  <%= @district.name %>
		</div>
		
		<div class="ctrlHolder">
		  <b>Province:</b>
		  <%= @district.province.name %>
		</div>

		<div class="ctrlHolder">
		  <b>Country:</b>
		  <%= @district.country.name %>
		</div>

		<div class="ctrlHolder">
		  <b>Geo Data:</b>
		  <%= @district.latlong %>
		</div>

	</fieldset>

	<%= link_to 'Edit', edit_district_path(@district) %> |
	<%= link_to 'Back', districts_path %>
</div>