<div id="page-title">
	<h1>District Details</h1>
</div>

<div id="mashera-form">
		
	<fieldset>
		
		<ol>
		<li>
		  <b>District:</b>
		  <%= @district.name %>
		</li>
		
		<li>
		  <b>Province:</b>
		  <%= @district.province.name %>
		</li>

		<li>
		  <b>Country:</b>
		  <%= @district.country.name %>
		</li>

		<li>
		  <b>Geo Data:</b>
		  <%= @district.latlong %>
		</li>
		
		</ol>

	</fieldset>

	<div id="page-links">
	<%= link_to 'Edit', edit_district_path(@district) %> |
	<%= link_to 'Back', districts_path %>
	</div>
	
</div>