<div id="mashera-form">

	<% form_for(@country) do |f| %>
	<fieldset>
	  <%= f.error_messages %>
	
		<ol>
		  <li>
		    <%= f.label :name %><br />
		    <%= f.text_field :name %>
		  </li>
		</ol>
	  <div class="buttonHolder">
	    <%= f.submit 'Update' %>
	  </div>
	</fieldset>
	<% end %>

	<div id="page-links">
	<%= link_to 'Show', @country %> |
	<%= link_to 'Back', countries_path %>
	</div>

</div>