<div id="titleHeader">
	<h1 class="floatLeftWhite">The Mashera Project: Countries</h1>
</div>

<table>
  <tr>
    <th>Name</th>
		<th>Details</th>
		<th>Edit</th>
		<th>Destroy</th>
  </tr>

<% @countries.each do |country| %>
  <tr>
    <td><%=h country.name %></td>
    <td><%= link_to 'Details', country %></td>
    <td><%= link_to 'Edit', edit_country_path(country) %></td>
    <td><%= link_to 'Destroy', country, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New country', new_country_path %>