<div id="newForm">

	<h1>New country</h1>

	<% form_for(@country) do |f| %>
	<fieldset class="inlineLabels">
	  <%= f.error_messages %>

	  <div class="ctrlHolder">
	    <%= f.label :name %><br />
	    <%= f.text_field :name %>
	  </div>
	  <div class="buttonHolder">
	    <%= f.submit 'Add' %>
	  </div>
	</fieldset>
	<% end %>

	<%= link_to 'Back', countries_path %>

</div>