<div id="newForm">
	
	<h1>Editing province</h1>

	<% form_for(@province) do |f| %>
	<fieldset class="inlineLabels">
	  <%= f.error_messages %>

	  <%= render :partial => 'fields', :locals => {:f => f} %>
		
	  <div class="buttonHolder">
	    <%= f.submit 'Update' %>
	  </div>
	</fieldset>
	<% end %>

	<%= link_to 'Show', @province %> |
	<%= link_to 'Back', provinces_path %>
	
</div>