<div id="mashera-form">
		
	<fieldset class="inlineLabels">
		<ol>
			
		<li>
		  <b>Province Name:</b>
		  <%= @province.name %>
		</li>

		<li>
		  <b>Country:</b>
		  <%= @province.country.name %>
		</li>
		
		<li>
		  <b>ISO 3166-2:</b>
		  <%= @province.iso_code %>
		</li>
		
		</ol>
	</fieldset>
	
	<div id="page-links">
	<%= link_to 'Edit', edit_province_path(@province) %> |
	<%= link_to 'Back', provinces_path %>
	</div>
	
</div>